.a1 {
  background-color:  #98d98e;
  height: 120px;
  padding: 20px;
}
.b1 {
  background-color:  #e4de8a;
  padding-left: 20px;
  height: 100px;
  text-align:left;
  font-size: 18pt
}
.c1 {
  background-color:  #cee4ae;
  height: 100px;
  text-align:left;
  font-size: 18pt;
  padding: 20px;
  font-family: Meiryo;
}

